# Association learning

In [2]:
dataset=[['Bread','Milk','Beer'],
         ['Bread','Diapers','Eggs'],
         ['Milk','Diapers','Beer','Cola'],
         ['Bread','Milk','Diapers','Beer'],
         ['Bread','Milk','Cola']]

In [27]:
import pandas as pd
from mlxtend.preprocessing import TransactionEncoder

te=TransactionEncoder()
te=te.fit(dataset)
print(te)
te_ary=te.transform(dataset)

#print(te_ary)
#print(te.columns_)

TransactionEncoder()

In [6]:
df=pd.DataFrame(te_ary,columns=te.columns_)

print(df)

    Beer  Bread   Cola  Diapers   Eggs   Milk
0   True   True  False    False  False   True
1  False   True  False     True   True  False
2   True  False   True     True  False   True
3   True   True  False     True  False   True
4  False   True   True    False  False   True

In [10]:
from mlxtend.frequent_patterns import apriori

frequent_itemsets = apriori(df,min_support=0.6,use_colnames=True)

frequent_itemsets

   support       itemsets
0      0.6         (Beer)
1      0.8        (Bread)
2      0.6      (Diapers)
3      0.8         (Milk)
4      0.6   (Milk, Beer)
5      0.6  (Bread, Milk)

In [13]:
from mlxtend.frequent_patterns import association_rules

rules=association_rules(frequent_itemsets,metric='support',min_threshold=0.6)

rules

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
0,(Milk),(Beer),0.8,0.6,0.6,0.75,1.2500,0.12,1.6
1,(Beer),(Milk),0.6,0.8,0.6,1.00,1.2500,0.12,inf
2,(Bread),(Milk),0.8,0.8,0.6,0.75,0.9375,-0.04,0.8
3,(Milk),(Bread),0.8,0.8,0.6,0.75,0.9375,-0.04,0.8

In [6]:
rules[rules['confidence']>0.8]

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
1,(Beer),(Milk),0.6,0.8,0.6,1.0,1.25,0.12,inf

In [18]:
rules[rules['confidence']>0.8].consequents

1    (Milk)
Name: consequents, dtype: object

In [8]:
cartitem=['Milk']

new_rules=rules[rules['antecedents'].apply(lambda x: set(cartitem).issubset(x))]

new_rules

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
0,(Milk),(Beer),0.8,0.6,0.6,0.75,1.2500,0.12,1.6
2,(Milk),(Bread),0.8,0.8,0.6,0.75,0.9375,-0.04,0.8

In [9]:
new_rules['consequents']

0     (Beer)
2    (Bread)
Name: consequents, dtype: object

In [48]:
cart=input()
cart_item=[cart]

new_rules=list(rules[rules['antecedents'].apply(lambda x: set(cart_item).issubset(x))])

new_rules

Milk

['antecedents',
 'consequents',
 'antecedent support',
 'consequent support',
 'support',
 'confidence',
 'lift',
 'leverage',
 'conviction']

In [14]:
suggest=list(new_rules[new_rules['confidence']>0.6].consequents)
print(suggest)

NameError: name 'new_rules' is not defined

In [15]:
s=str(suggest)
print(s)

NameError: name 'suggest' is not defined

In [25]:
import numpy as np
b=np.arange(2,3.25,0.25)
print(b)

[2.   2.25 2.5  2.75 3.  ]